body {
    background-color: #fff;
    background-image: url("../frontend/assets/skys/sunnySkyDayTime.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

.glass-box {
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    margin: 0 auto;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

    padding: 2rem;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url("../frontend/assets/fonts/Poppins/Poppins-Black.ttf") format('woff2'),
    url("../frontend/assets/fonts/Poppins/Poppins-Black.ttf") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Shows fallback font while custom font loads */
}